
.App {
  text-align: center;
}

.my-particles {
  position: fixed;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  z-index: -1;
}
.my-profile {
  border-style: solid;
  border-color: darkorange;
  border-radius: 50%;
}
.my-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.my-vpad {
  padding-top: 5rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.my-center {
  display: flex;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.potrait-block {
  display: flex;
  flex-direction: row;
}

.profile-item-header {
  font-size: 1.25rem;
  font-weight: 600;
}

.profile-item-content {
  font-size: 0.875rem;
}

.profile-item-links {
  font-size: 0.75rem;
}

.profile-block-left {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: 0.5rem;
  width: 50%;
}

.profile-block-right {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: auto;
  margin-left: 0.5rem;
  width: 50%;
}

.loader-spin {
  animation-name: App-logo-spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 4;
}

.loader-vpull {
  padding-top: 40vh;
}

@media screen and (max-width: 700px) {
  .potrait-block {
    display: flex;
    flex-direction: column;
  }

  .profile-block-left {
    margin-left: 0.5rem;
    width: 100%;
  }
  
  .profile-block-right {
    margin-right: 0.5rem;
    width: 100%;
  }
}

@media screen and (max-width: 355px) {
  .profile-item-header {
    font-size: 1rem;
    font-weight: 400;
  }
  
  .profile-item-content {
    font-size: 0.7rem;
  }
  
  .profile-item-links {
    font-size: 0.6rem;
  }
}
